html {
  background: white;
  width: 100% !important;
  height: 100% !important;
}
html body {
  background: white;
  width: 100% !important;
  height: 100% !important;
}
html body.pageOne .tab-content{
  overflow: visible !important;
}
html body .error{
  color: #CA1515 !important;
  text-align: center;
}
html body .loading{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  position: fixed;;
  top: 0;
  left: 0;
  z-index: 1000;
}
html body .loading #loader {
  animation: loader 5s cubic-bezier(.8,0,.2,1) infinite;
  height: 60px;
  width: 61px;
  position: absolute;
  top:calc(50% - 60px);
  left:calc(50% - 60px);
}
@keyframes loader {
  90% { transform: rotate(0deg); }
  100% { transform: rotate(180deg); }
}
html body .loading #loader #top {
  animation: top 5s linear infinite;
  border-top: 60px solid #fff;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  height: 0px;
  width: 1px;
  transform-origin: 50% 100%;
}
@keyframes top {
  90% { transform: scale(0); }
  100% { transform: scale(0);}
}
html body .loading #loader #bottom {
  animation: bottom 5s linear infinite;
  border-right: 60px solid transparent;
  border-bottom: 60px solid #fff;
  border-left: 60px solid transparent;
  height: 0px;
  width: 1px;
  transform: scale(0);
  transform-origin: 50% 100%;
}
@keyframes bottom {
  10% { transform: scale(0); }
  90% { transform: scale(1); }
  100% { transform: scale(1); }
}
html body .loading #loader #line {
  animation: line 5s linear infinite;
  border-left: 1px dotted #fff;
  height: 0px;
  width: 0px;
  position: absolute;
  top: 60px;
  left: 60px;
}
@keyframes line {
  10% { height: 60px; }
  100% { height: 60px; }
}
html body input, html body select,  html body textarea{
  border: 1px solid #ccc !important;
  border-radius:6px;
  height: 30px;
}
html .chosen-container{
  height: 34px !important;
}
html .chosen-container .chosen-single{
  height: 34px !important;
}
html body.page2 {
  background: #f7f7f7;
  width: 100%;
  height: 100%;
}

html body .w-100 {
  width: 100% !important;
}

html body .green-text {
  color: darkgreen !important;
}

html body .nav-tabs li {
  background: #fff;
}

html body .nav-tabs li a {
  background: #fff !important;
  font-weight: bold;
  color: #aaa !important;
}

html body .nav-tabs .active a {
  color: darkgreen !important;
}

html body .tab-pane .row {
  padding: 0px 10px 10px !important;
}

html body .tab-pane .row .form-control {
  width: 100% !important;
}
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
}
.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.table i{
    font-size: 1.4em !important;
    color: #000 !important;
    width: 50px !important;
    height: 50px !important;
}

.table .gray td{
    background: #eee;
}
.table .orange td{
    background: #de7f40;
}
.table .blue td{
    background: #58a9c4;
}
.table .yellow td{
    background: #d6d256;
}
.table .red td{
    background: #d46e57;
}
.table .green td{
    background: #78d459;
}

