<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requisición de Personal</title>
    <link rel="stylesheet" href="css/app.css">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
</head>
<body ng-app="rdpApp" ng-controller="pageTwo" class="page2">
    <div class="row">       
        <div class="col-sm-8 col-sm-offset-2">
          <div class="dropdown pull-right">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bienvenido
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li><a href="#">Jose Antonio Gonzales</a></li>
                <li><a href="#">Nueva Requisición</a></li>
                <li><a href="#">Importanción Masiva</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Cerrar Sesión</a></li>
              </ul>
            </div>
          <h1 class="text-center">Requisiciones de Personal</h1>
          <br>
           <div class="row">
               <div class="col-xs-12 col-sm-4 col-sm-offset-8">
                   <div class="input-group">
                      <input type="text" class="form-control" ng-model="searchText" aria-label="Amount (to the nearest dollar)">
                      <span class="input-group-addon"><i class="icon ion-ios-search-strong"></i></span>
                    </div>
               </div>
           </div>
            <table class="table data-table myTable">
                <thead>
                    <tr>
                        <th>Acciones</th>
                        <th>Tipo</th>
                        <th>Dependencia</th>
                        <th>Motivo</th>
                        <th>Estatus</th>
                        <th>Fecha de Captura</th>
                        <th>Candidatos (as)</th>
                    </tr>
                </thead>
                <tbody ng-repeat="item in allItems | filter:searchText">
                    <tr ng-class="{gray: item.Estatus == 1,orange: item.Estatus == 2,blue: item.Estatus == 3,red: item.Estatus == 4,yellow: item.Estatus == 5,green: item.Estatus == 6}">
                        <td>
                            <i class="icon ion-android-archive"></i>
                            <i class="icon ion-android-arrow-dropdown" data-toggle="collapse" data-target="#accordion{{item.IdRequisicion}}" class="clickable"></i>
                        </td>
                        <td>{{item.txtTipoPuesto}}</td>
                        <td>{{item.txtDependencia}}</td>
                        <td>{{item.txtMotivo}}</td>
                        <td>{{item.txtEstatus}}</td>
                        <td>{{item.FechaCaptura | date : 'dd/MM/y h:mm:ss'}}</td>
                        <td>{{item.CandidatosConcat}}</td>
                    </tr>
                    <tr id="accordion{{item.IdRequisicion}}" class="collapse">
                      <td></td>
                      <td colspan="4">
                          <table class="table">
                              <thead>
                                  <tr>
                                      <th>Fecha Cambio Estatus</th>
                                      <th>Estatus Especifico</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td></td>
                                      <td></td>
                                  </tr>
                              </tbody>
                          </table>
                      </td>
                      <td></td>
                    </tr>
                </tbody>
            </table>
            
            <ul class="pagination pagination-sm">
                <li ng-class="{active:0}">
                 <a href="#" ng-click="firstPage()">Inicio</a>
                </li>
                <li ng-repeat="n in range(ItemsByPage.length)">
                  <a href="#" ng-click="setPage()" ng-bind="n+1">1</a>
                </li>
                <li>
                  <a href="#" ng-click="lastPage()">Final</a>
                </li>
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angularController.js"></script>
</body>
</html>