<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Requisición de Personal</title>
    <link rel="stylesheet" href="css/flexboxgrid.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body ng-app="rdpApp" ng-controller="pageOne">
      <div class="loading" ng-show="loading">
        <div id="loader">
          <div id="top"></div>
          <div id="bottom"></div>
          <div id="line"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div>
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Información General</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Candidatos (as)</a></li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                             <div class="form-inline">
                              <label for="exampleInputName2">Tipo</label>
                              <select ng-change="getOtherTypes()" ng-model="codType" ng-options="type.VARValor as type.Valor for type in types" chosen class="form-control codType"></select>
                             </div>
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-inline">
                              <label for="exampleInputEmail2">No. Oficio (Sindicato)</label>
                              <input type="text"  ng-model="codNumber" class="form-control" id="exampleInputEmail2" placeholder="">
                            </div> 
                         </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                           <div class="form-inline">
                            <label for="exampleInputName2">Dependencia</label>
                            <select chosen ng-model="codDependency" class="form-control codDependency" ng-options="dependency.VARValor as dependency.Valor for dependency in dependencies"  >
                            </select>
                           </div>
                       </div>
                       <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-inline">
                            <label for="exampleInputEmail2">Dirección Gral. y/o Área</label>
                            <select ng-model="codArea" chosen class="form-control codArea" ng-options="area.VARValor as area.Valor for area in areas">
                            </select>
                          </div> 
                       </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                           <div class="form-inline">
                            <label for="exampleInputName2">Puesto Nominal</label>
                            <select chosen ng-model="codPosition" class="form-control codPosition" ng-options="position.VARValor as position.Valor for position in positions">
                            </select>
                           </div>
                       </div>
                       <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-inline">
                            <label for="exampleInputEmail2">Puesto Funcional</label>
                            <input type="text" ng-model="codFunctionalPosition" class="form-control codFunctionalPosition" id="exampleInputEmail2" placeholder="">
                          </div> 
                       </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                           <div class="form-inline">
                            <label for="exampleInputName2">Motivo de Solicitud</label>
                            <select chosen ng-model="codReason" class="form-control codReason" ng-options="reason.VARValor as reason.Valor for reason in reasons">
                            </select>
                           </div>
                       </div>
                       <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-inline">
                            <label for="exampleInputEmail2">Tipo de Puesto</label>
                            <select chosen ng-model="codPositionType" class="form-control codPositionType" ng-options="type.VARValor as type.Valor for type in positionTypes"  class="form-control">
                            </select>
                          </div> 
                       </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                           <div class="form-inline">
                            <label for="exampleInputName2">Experiencia Requerida</label>
                            <textarea name="" ng-model="codExperience" class="form-control codExperience" id="" cols="30" rows="2"></textarea>
                           </div>
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-xs-12 col-sm-12 col-md-12">
                          <div class="form-inline">
                            <label for="exampleInputEmail2">Funciones a Realizar</label>
                            <textarea name="" ng-model="codFunctions" class="form-control codFunctions" id="" cols="30" rows="2"></textarea>
                          </div> 
                       </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                           <div class="form-inline">
                            <label for="exampleInputName2">Jefa (a) inmediato (a)</label>
                            <input type="text" class="form-control Req_JefeInmediato" id="exampleInputName2" ng-model="default.Req_JefeInmediato" placeholder="">
                           </div>
                       </div>
                       <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-inline">
                            <label for="exampleInputEmail2">Cargo del Jefe(a) inmediato(a)</label>
                            <input type="email" class="form-control Req_CargoJefe" id="exampleInputEmail2" ng-model="default.Req_CargoJefe" placeholder="">
                          </div> 
                       </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-6 col-md-6">
                           <div class="form-inline">
                            <label for="exampleInputName2">Coordinador administrativo de la dependencia</label>
                            <input type="text" class="form-control Req_Coordinador" id="exampleInputName2" ng-model="default.Req_Coordinador" placeholder="">
                           </div>
                       </div>
                       <div class="col-xs-12 col-sm-6 col-md-6">
                          <div class="form-inline">
                            <label for="exampleInputEmail2">Secretario o director de la dependencia</label>
                            <input type="text" class="form-control Req_Secretario" id="exampleInputEmail2" ng-model="default.Req_Secretario" placeholder="">
                          </div> 
                       </div>
                    </div>
                    <div class="row">
                       <div class="col-xs-12 col-sm-12 col-md-12">
                          <div class="form-inline">
                            <label for="exampleInputEmail2">Capturista</label>
                            <input type="text" class="form-control Req_Capturista" id="exampleInputEmail2" ng-model="default.Req_Capturista" placeholder="">
                          </div> 
                       </div>
                       <div class="col-xs-12 col-sm-12 col-md-12">
                          <div class="form-inline">
                            <label for="exampleInputEmail2">Correo Capturista</label>
                            <input type="email" class="form-control Req_Correo" id="exampleInputEmail2" ng-model="default.Req_Correo" placeholder="">
                          </div> 
                       </div>
                       <div class="col-xs-12 col-sm-12 col-md-12">
                          <div class="form-inline">
                            <label for="exampleInputEmail2">Teléfono</label>
                            <input type="text" class="form-control Req_Telefono" id="exampleInputEmail2" ng-model="default.Req_Telefono" placeholder="">
                          </div> 
                       </div>
                   </div>
                   <div class="row">
                       <p class="text-center">
                           <a class="btn btn-danger">Cancelar</a>
                           <a class="btn btn-success" ng-click="sendRequisition()">Aceptar</a>
                       </p>
                   </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <div class="row">
                       <p class="pull-right">
                           <a class="btn btn-primary" style="margin-top: 10px;" data-toggle="modal" data-target="#myModal">Agregar <i class="glyphicon glyphicon-user"></i></a>
                       </p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Ap. Paterno</th>
                                    <th>Ap. Materno</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="candidate in candidates">
                                    <td>{{candidate.name}}</td>
                                    <td>{{candidate.lastF}}</td>
                                    <td>{{candidate.lastM}}</td>
                                    <td><i class="ion-trash-b"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>           
        </div>
    </div>
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nuevo Candidato</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
           <div class="form-inline">
             <label for="exampleInputEmail2">Nombre</label>
             <input type="text" ng-model="nameCandidate" class="form-control w-100">
           </div> 
        </div>
        <div class="col-xs-12">
           <div class="form-inline">
             <label for="exampleInputEmail2">Ap. Paterno</label>
             <input type="text" ng-model="lastFCandidate" class="form-control w-100">
           </div> 
        </div>
        <div class="col-xs-12">
           <div class="form-inline">
             <label for="exampleInputEmail2">Ap. Materno</label>
             <input type="text" ng-model="lastMCandidate" class="form-control w-100">
           </div> 
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancela</button>
        <button type="button" class="btn btn-success" ng-click="addCandidate()">Guardar</button>
      </div>
    </div>
  </div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>
    <script src="js/angular-chosen.js"></script>
    <script src="js/angularService.js"></script>
    <script src="js/angularController.js"></script>
</body>
</html>